* {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  font-family: "Itim", cursive;
  color: white;
}
header {
  text-align: center;
  padding-bottom: 50px;
}
body {
  text-align: center;
  background-color: #0e2f2f;
}
footer {
  text-align: center;
  padding-top: 50px;
}
p {
  padding: 10px;
}
h2 {
  text-shadow: 2px 2px 1px rgb(91, 92, 95);
  color: rgb(247, 173, 82);
}
button {
  background-color: rgb(247, 173, 82);
  border-radius: 10px;
}
#color {
  background-color: rgb(119, 115, 115);
  border-radius: 10px;
}
button:hover {
  background-color: rgb(83, 83, 82);
}
i:hover {
  background-color: rgb(83, 83, 82);
  margin-top: 10px;
  margin-bottom: 20px;
}